body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4bcd3e;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.navbar input[type="text"], .navbar button {
    padding: 10px;
    font-size: 16px;
}

.navbar button {
    background-color: #9ec2d9;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #6b94b9;
}

.wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 20px;
}

.left, .right {
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 2 / 3;
}
.group {
    margin-bottom: 30px;
}

.group-title {
    font-size: 24px;
    margin-bottom: 10px;

    text-align:left;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#heading{
    position: relative;
    left: 150px;
}
.app {
    margin: 15px;
    text-align: center;
    width: calc(100% / 6 - 30px);  /* Adjusted to ensure 6 apps per row with margin */
    height: 100px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: move;
    box-sizing: border-box;
}

.app img {
    margin-top: 15px; 
    margin-bottom: 10px;
    align-items: left;
    height: 30px;
    transition: transform 0.3s ease-out;
}

.app img:hover {
    transform: scale(1.8);
}

.app.dragging {
    opacity: 0.5;
}


.options {
    position: relative;
    display: inline-block;
    cursor: pointer;
    bottom: 50px;
    left: 50px;
    width: 20px;  
    height: 20px;  
    border-radius: 5px;  

}

.options:hover{
background: #058692;

}
.options ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: #0d0d0d;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 5px;
    display: none;
    z-index: 2;
}

.options ul li {
    padding: 5px 15px;
    cursor: pointer;
    color: #fff;
}

.options ul li:hover {
    background-color: rgba(147, 228, 255, 0.9);
}

.options ul:not(.hidden) {
    display: block;
}

.options.open ul {
    display: block;
}

.hidden {
    display: none;
}

#addAppForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

#addAppForm input[type="text"], #addAppForm input[type="url"], #addAppForm button {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
}

#addAppForm button {
    background-color: #81b1ce;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addAppForm button:hover {
    background-color: #6b94b9;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}
